<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mitranim.dock_hotkeys</string>

  <key>ProgramArguments</key>
  <array>
    <string>HOME_BIN_PATH</string>
    <string>VERB</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>HOME_LOG_DIR/stderr.log</string>

  <key>StandardOutPath</key>
  <string>HOME_LOG_DIR/stdout.log</string>

  <!--
  Setting process type to "Interactive" appears to improve hotkey latency.
  When process type is "Background", hotkeys have a higher latency.
  -->
  <key>ProcessType</key>
  <string>Interactive</string>
</dict>
</plist>
